.App {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.MuiInputBase-root {
  border-radius: 0 !important;
  border-color: transparent !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: rgb(0,0,0,0) !important;
}
